body {
    font-family: Arial, sans-serif;
    background: #dafcff;
    font-family: Montserrat, "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #303030;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #14d3c9;
    justify-content: space-around;
}

.menu li {
    list-style-type: none ;  
      
}

.menu a {
    display:block;         
    min-width: 120px;          
    
    margin: 0.5rem;           
    padding: 0.4rem 0;        
    text-align: center;            
    border-radius: 4px;         
}
    
.menu a:hover{
    background-color: #0400f0;
    color: #ffe843;
    border-color: #ffe843;
}

.prise_rdv {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
}

h1 {
    color: rgb(20, 125, 200);
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.prise_rdv > button {
    background-color: rgb(20, 125, 200);
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
/*
button:hover {
    background-color: rgb(10, 95, 170);
}*/
