.navigation {
    display: flex;
    flex-wrap: wrap; /* Pour gérer les retours à la ligne si nécessaire */
    width: 100%; /* Prend toute la largeur disponible */
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les marges internes */
    background-color: #14d3c9;
    justify-content: space-around;
    position: sticky;
}

.navigation li {
    list-style-type: none ;       /* Suppression des puces */
}
.navigation li >a{
    color: #efeeee;
    background-color:rgb(20, 125, 200);
    width: 200px;
    font-size: larger;
    text-decoration: none;
}
.navigation li >a> button{
    max-height:fit-content;
    max-width:fit-content;
    color: white;
    background-color:rgb(20, 125, 200);
    border: none;
    font-size: large;
}

.logo{
    height: 25px;
    width: 25px;
    float: left;
    margin-left: 10px;
}
.navigation a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    border-radius: 4px;          /* Arrondis des bordures */
}

.navigation a:hover{
    background-color: #0400f0;
    color: #ffe843;
    border-color: #ffe843;
}