body {
    background-color : rgb(255, 255, 255);
}

.tab1 {

    border: 2px solid black;
    border-collapse: collapse;
    padding: 500px;

    
    width: 400px;
    height: 200px;

    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);

    text-align : center;

}

.tab2 {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 500px;

    width: 400px;
    height: 80px;

    position: absolute;
    top: 60%; left: 50%;
    transform: translate(-50%, -50%);

    text-align : center;
}

